@import '~sky-toolkit-ui/components/accordion';
@import '~sky-toolkit-ui/components/typography';

.accordion-button-box {
    text-align: right;
    display: block;
}

.hero-background{
    background-image: url("../images/JNC.jpg");
}

.hero-title {
    width: 50%;
    margin: auto;
    top: 50%;
    position: relative;

}

.hero-title-text {
    font-size: 100px;
    text-align: center;
    opacity: 0.9;

}
.course-page-accordion {
    margin-top: 20px;
}

.c-btn--full {
    font-size: 25px;
    
}

.c-btn--full a:hover, a:visited, a:link, a:active{
     text-decoration: none; //otherwise line shows up under the text when hovering
}

.c-btn__icon{
    height: 65%;
}

