.navbar-link-items {
    list-style-type: none;
}

.navbar-link-item {
    display: inline-block;
    padding-left: 20px;
}

.navbar-link-color {
    color: #212529;
}

.navbar-logo {
    position: relative;
}

.navbar-items {
    display: inline-block;
    text-align: left;
}